@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --background: #F7F3F6;
    --foreground: #310C2D;

    --card: #FFFFFF;
    --card-foreground: #310C2D;
    --popover: #FFFFFF;
    --popover-foreground: #310C2D;

    --primary: #D093C9;
    --primary-foreground: #F8FAFC;

    --secondary: #EAC8E6;
    --secondary-foreground: #3D0F38;

    --muted: #996693;
    --muted-foreground: #3D0F38;

    --accent: #E699B6;
    --accent-foreground: #3D0F21;

    --destructive: #E88330;
    --destructive-foreground: #FFFFFF;

    --border: #E2CFE0;
    --input: #E2CFE0;
    --ring: #E9DCEE;

    --sidebar-background: #EFE7EE;
    --sidebar-foreground: #3D0F38;
    --sidebar-primary: #D093C9;
    --sidebar-primary-foreground: #F8FAFC;
    --sidebar-accent: #EBADC5;
    --sidebar-accent-foreground: #3D0F21;
    --sidebar-border: #E2CFE0;
    --sidebar-ring: #E9DCEE;

    --radius: 0.5rem;
  }

  * ::selection {
    background-color: var(--primary);
    color: #fff;
  }

  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-serif;
  }

  p,
  span,
  a,
  li,
  button {
    @apply font-sans;
  }
}

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-imago-50: #f9f6f9;
  --color-imago-100: #f5eef5;
  --color-imago-200: #edddec;
  --color-imago-300: #dfc2dd;
  --color-imago-400: #cb9bc7;
  --color-imago-500: #b679af;
  --color-imago-600: #a26097;
  --color-imago-700: #894d7d;
  --color-imago-800: #724268;
  --color-imago-900: #613a59;
  --color-imago-950: #391e34;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --breakpoint-2xl: 1400px;

  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-fade-out: fade-out 0.5s ease-out;
  --animate-slide-up: slide-up 0.5s ease-out;
  --animate-slide-down: slide-down 0.5s ease-out;
  --animate-slide-left: slide-left 0.5s ease-out;
  --animate-slide-right: slide-right 0.5s ease-out;
}

@layer components {
  .imago-container {
    @apply max-w-7xl mx-auto px-6 sm:px-6 lg:px-8;
  }

  .btn-primary {
    @apply inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 disabled:opacity-50 disabled:pointer-events-none bg-imago-600 text-white hover:bg-imago-500 px-4 py-2;
  }

  .btn-secondary {
    @apply inline-flex gap-3 items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 disabled:opacity-50 disabled:pointer-events-none border border-imago-300 hover:bg-imago-200 hover:text-accent-foreground px-4 py-2;
  }

  .nav-link {
    @apply relative font-medium text-foreground/80 hover:text-foreground transition-colors after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[2px] after:bg-black after:origin-center after:scale-x-0 hover:after:scale-x-100 after:transition-transform;
  }

  .nav-link-active {
    @apply text-imago-700 hover:text-imago-700 after:bg-imago-600 after:scale-x-100;
  }

  .dropdown-content {
    @apply absolute z-10 mt-2 w-52 rounded-md bg-white shadow-lg ring-1 ring-black/20 focus:outline-none overflow-hidden animate-fade-in;
  }

  .dropdown-item {
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-imago-100;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Fade out */
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Slide up */
@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide down */
@keyframes slide-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.reviewsSlider .swiper-pagination {
  position: static;
  margin-top: 20px;
}

.reviewsSlider .swiper-pagination-bullet {
  background-color: var(--color-imago-700);
}
